<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.examples.weibao">

    <application
        android:name=".MyAppLaction"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".ui.KaiPingActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.WangJiMiMaActivity" />
         <activity android:name=".ui.MainActivity"/>

        <activity android:name=".ui.WeiBaoYuCeShiActivity" />
        <activity android:name=".ui.SheBeiWeiBaoYuCeShiActivity" />
        <activity android:name=".ui.BaoZhangChuLiActivity" />
        <activity android:name=".ui.SaoMaTiaoZhuangActivity" />
        <activity
            android:name=".ui.BaoZhangDengJiActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ui.GeRenActivity" />
        <activity android:name=".ui.XiangMuShouKuanActivity" />
        <activity android:name=".ui.ZiXunActivity" />
        <activity android:name=".ui.TaiZhangActivity" />
        <activity android:name=".ui.ChaKanTaiZhangActivity" />
        <activity android:name=".ui.XiangMuKuanJinDuActivity" />
        <activity android:name=".ui.WeiBaoJiHuaActivity" />
        <activity android:name=".ui.ChaKnaXiangMuJiHuaActivity" />
        <activity android:name=".ui.WeiBaoBaoGaoActivity" />
        <activity
            android:name=".ui.DatePickActivity"
            android:theme="@style/MyDialogStyleBottom" />
        <activity android:name=".ui.BaoZhangChaKanActivity" />
        <activity android:name=".ui.HomePageActivity" />
        <activity android:name=".ui.LiaoTianActivity"/>
    </application>

</manifest>